fastapi
uvicorn[standard]
pydantic
sqlalchemy
psycopg2-binary
faiss-cpu
langchain
langchain-groq
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
langgraph
python-dotenv
openai
pdfplumber
python-multipart
alembic
